@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

.page {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #FFFFFF;
  margin: 0 auto;

  background-color: #000;
}

  @media (min-width: 768px) {
    .page {
      max-width: 1280px;
    }
  }
  
  @media (max-width: 768px) {
    .page {
      max-width: 320px;
    }
  }

.header {
  border-bottom: 1px solid #545454;
  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .header {
    max-height: 56px;
    padding-bottom: 60px;
    max-width: 880px;
  }
}

@media (max-width: 768px) {
  .header {
padding: 0;
  }
}

.header__logo {
margin: 0 auto;
}

@media (min-width: 768px) {
  .header__logo {
    margin-bottom: 41px;
    margin-top: 45px;
  }
}

@media (max-width: 768px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    margin: 28px 0 31.6px 27px;
  }
}

.content {
  max-width: 880px;
  margin: 0 auto;
}

.profile {
margin: 0;
}

@media (min-width: 768px) {
  .profile {
    padding-top: 40px;
    display: grid;
    align-items: center;
    max-width: 880px;
    grid-template-columns: 121px 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .profile {
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-top: 38px;
  }
}

.profile__img {
  width: 121px;
  height: 121px;
  border-radius: 50%;
}

.profile__box {
position: relative;

}

.profile__title {
  margin: 0;
  display: block;
  font-family: 'Inter';
  font-style: normal;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .profile__title {
    margin-top: 20px;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
  }
}

@media (max-width: 768px) {
  .profile__title {
    margin-top: 21px;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
  }
}

.profile__text {
  margin-top: 8px;
  display: block;
  font-family: 'Inter';
  font-style: normal;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .profile__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 768px) {
  .profile__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}

.pen {
  position: absolute;
}

.pen:hover {
  opacity: 0.6;
}

@media (min-width: 768px) {
  .pen {
    background-image: url(./images/pen.svg);
    height: 24px;
    width: 24px;
    right: 15px;
    top: 34px;
  }
}

@media (max-width: 768px) {
  .pen {
    background-image: url(./images/penMobil.svg);
    height: 18px;
    width: 18px;
    right: 38px;
    top: 8px;
  }
}

.button {
  margin: 0 auto;
  height: 48px;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: end;
}

.button:hover {
  opacity: 0.6;
}

@media (min-width: 768px) {
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: end;
    width: 147px;
  }
}

@media (max-width: 768px) {
  .button {
    width: 279px;
    margin-top: 32px;
  }
}

.button__img {
  background-image: url(./images/profileBottondesktop.svg);
  background-position: center;
}

@media (min-width: 768px) {
  .button__img {
    width: 22px;
    height: 22px;
  }
}

@media (max-width: 768px) {
  .button__img {
    width: 16px;
    height: 16px;
  }
}

.cards {
display: flex;
justify-content: center;
}

@media (min-width: 768px) {
  .cards {
  margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .cards {
  margin-top: 35px;
  }
}

.cards__elements {
  display: grid;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .cards__elements {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 17px;
  }
}

@media (max-width: 768px) {
.cards__elements {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px 17px;
  margin: 0;
  }
}

.element {
  list-style-type: none;
  margin: 0;
  width: 282px;
  height: 361px;
  padding: 0;
  background-color: #FFF;
  border-radius: 4%;
  overflow: hidden;
  position: relative;
}

.cards__image {
  display: block;
  object-fit: cover;
  text-align: start;
  width: 100%;
}

.cards__text {
  margin: 25px 22px 31px;
  color: #000;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  width: 246px;
  height: 23px;
}

.cards__like {
  background-image: url(./images/notlike.png);
  height: 19px;
  width: 22px;
  position: absolute;
  right: 20px;
  bottom: 30px;
}

.cards__like:hover {
  opacity: 0.6;
}


.footer {
  margin: 0;
}

@media (min-width: 768px) {
  .footer {
    margin: 70px auto;
    max-width: 880px;
  }
}

@media (max-width: 768px) {
  .footer {
    max-width: 282px;
    margin: 48px 19px 36px;
  }
}

.footer__copyright {
  font-family: 'Inter';
  font-style: normal;
  color: #545454;
  font-weight: 400;
}

@media (min-width: 768px) {
  .footer__copyright {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 768px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}