@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

.page {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #FFFFFF;
  margin: 0 auto;
  max-width: 1280px;
  background-color: #000;;
}

.header {
  border-bottom: 1px solid #545454;
  max-height: 56px;
  padding-bottom: 60px;
  margin-left: 200px;
}

.header__logo {
  margin-bottom: 41px;
  margin-top: 45px;
}

.profile {
  padding-top: 40px;
  margin-left: 200px;
  display: grid;
  grid-template-columns: 121px 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 30px;
  align-items: center
}

.profile__img {
  width: 121px;
  height: 121px;
  border-radius: 50%;
}

.profile__title {
  margin: 0;
  display: block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #FFFFFF;
}

.profile__text {
  margin: 0;
  margin-top: 8px;
  display: block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.profile__button {
  background-image: url(./images/Button.png);
  width: 150px;
  height: 50px;
  align-items: center;
  margin-left: 100px;
}

.cards {
  max-width: 1184px;
  margin: 50px 200px 0;
}

.cards__elements {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 17px;
}

.element {
  list-style-type: none;
  margin: 0;
  width: 100%;
  padding: 0;
  background-color: #FFF;
  border-radius: 4%;
  overflow: hidden;
}

.cards__image {
  display: block;
  object-fit: cover;
  text-align: start;
}

.cards__text {
  margin: 25px 22px 31px;
  color: #000;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  width: 246px;
  height: 23px;
}

.footer {
  margin: 70px 200px;
}

.footer__copyright {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}