.profile {
  margin: 0;
}

@media (min-width: 900px) {
.profile {
  padding-top: 40px;
  display: grid;
  align-items: center;
  max-width: 880px;
  grid-template-columns: 121px 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 30px;
  }
}

@media (max-width: 900px) {
.profile {
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-top: 38px;
  }
}