.profile {
  margin: 0;
  padding-top: 38px;
  display: grid;
  align-items: center;
  max-width: 880px;
  grid-template-columns: 121px 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 30px;
}

@media (max-width: 1023px) {
.profile {
  margin: 0 auto;
  display: block;
  text-align: center;
  padding-top: 43px;
  max-width: 282px;
  }
}