.popup__save {
  margin: 0;
  background-color: #000000;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

.popup__save:hover {
  opacity: 0.8;
}

@media (min-width: 900px) {
  .popup__save {
    width: 358px;
    height: 52px;
    font-size: 18px;
    line-height: 22px;
   
  }
}

@media (max-width: 900px) {
  .popup__save {
    width: 238px;
    height: 45px;
    font-size: 14px;
    line-height: 17px;
  }
}