.header__logo {
  margin: 0 auto;
  width: 142px;
  height: 33px;
  margin-bottom: 38px;
  margin-top: 45px;
}

  @media (max-width: 1023px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    margin: 28px 0 27px 27px;
    }
  }