.cards__like {
  background-image: url(../../../images/notlike.png);
  height: 19px;
  width: 22px;
  position: absolute;
  right: 20px;
  bottom: 30px;
  cursor: pointer;
  border: 0;
}

.cards__like:hover {
  opacity: 0.6;
}