.profile__text {
  margin-top: 8px;
  display: block;
  font-family: 'Inter';
  font-style: normal;
  color: #FFFFFF;
}

@media (min-width: 900px) {
  .profile__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 900px) {
  .profile__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}