.profile__pen {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../../images/pen.svg);
  z-index: 1;
  margin-top: 10px;
  background-size: 10px;
  height: 24px;
  width: 24px;
}

.profile__pen:hover {
  opacity: 0.6;
}

@media (max-width: 1023px) {
  .profile__pen {
    background-size: 7.5px;
    height: 18px;
    width: 18px;
    align-self: end;
    margin-top: 0;
    margin-bottom: 4px;
  }
}