.popup__profile {
  margin: 0;
  margin-left: 36px;
  margin-top: 25px;
  height: 28px;
  border: none;
  border-bottom: 1px solid #aeaeae;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

@media (min-width: 900px) {
  .popup__profile {
  width: 358px;
  }
}

@media (max-width: 900px) {
  .popup__profile {
    margin-left: 22px;
    width: 238px;
  }
}