.cards__element {
  list-style-type: none;
  margin: 0;
  width: 282px;
  padding: 0;
  background-color: #FFF;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 1fr 80px;
  align-items: center;
}