.footer {
  margin: 0;
}

@media (max-width: 3000px) {
  .footer {
    margin: 70px auto;
    max-width: 880px;
  }
}

@media (max-width: 1023px) {
  .footer {
    max-width: 282px;
    margin: 48px 19px 36px;
  }
}
