.element {
  list-style-type: none;
  margin: 0;
  width: 282px;
  height: 361px;
  padding: 0;
  background-color: #FFF;
  border-radius: 4%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 1fr 79px;
  align-items: center;
}