.button {
  margin: 0 auto;
  height: 48px;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: end;
}

.button:hover {
  opacity: 0.6;
}

@media (min-width: 900px) {
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: end;
    width: 147px;
  }
}

@media (max-width: 900px) {
  .button {
    width: 279px;
    margin-top: 32px;
  }
}